<footer id="footer">
	<div class="container">
		<div class="footer-holder">
			<div class="row">
				<div class="col-md-4">
					<div class="logo"><a href="#"><img src="/images/beta-testing.jpg" width="100" height="100" alt="softInstaller"></a></div>
				</div>
				<div class="col-md-2">
					<h4>Navigation</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Overview</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="text-holder">
						<strong class="phone"><a href="tel:9999999999">999 999 99 99</a></strong>
						<span class="available">Available from 9AM - 18PM</span>
						<h4>California</h4>
						<address>*some address*</address>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-frame">
						<h4>Info</h4>
						<p>Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Autem vel hendrerit iriure dolor in hendrerit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>